@charset "utf-8";

#wrap {
  width: 100%;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  height: 148px;
  color: #fff;
  padding: 48px 0;
}

header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 a img {
  height: 50px;
}

/* Navigation */
nav .gnb {
  display: flex;
  gap: 58px;
}

nav .gnb > li {
  position: relative;
}

nav .gnb > li > a {
  color: #333;
  font-size: 1.8rem;
  padding: 10px;
}

nav .gnb > li:hover .depth2 {
  display: block;
}

/* Depth2 */
.depth2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #002b5c;
  padding: 10px 20px;
}

.depth2 li {
  padding: 5px 0;
}

.depth2 li a {
  color: #f4f4f9;
  font-size: 1.4rem;
}

.depth2 li a:hover {
  color: #ddd;
}

/* Login and Signup Buttons */
.login-signup {
  font-size: 1.4rem;
  display: flex;
  gap: 10px;
  align-items: center;
}

.login-signup a {
  color: #333;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}

/* Main Banner */
#main-banner {
  position: relative;
  color: #fff;
  z-index: -5;
}

#main-banner .main-banner-bg img {
  object-fit: cover;
  position: absolute;
  left: 0;
  z-index: -2;
}

#main-banner .mb-overlay {
  position: absolute;
  top:146px;
  left: 0;
  width: 950px;
  height: 314px;
  backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.2);
  z-index: -1;
}

#main-banner .inner {
  padding: 100px 20px;
  text-align: left;
}

#main-banner .mb-txt {
  position: absolute;
  top: 180px;
}

#main-banner .mb-txt h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

#main-banner .mb-txt p {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#main-banner button {
  padding: 8px 16px;
  background-color: #fff;
  color: #333;
  border: 2px solid #002b5c;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.3s;
}

#main-banner button a {
  text-decoration: none;
}

#main-banner button:hover {
  color: #fff;
  background-color: #003366;
}


/* notice-box */
.notice-box {
  margin-top: 160px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px 40px;
  width:580px;
  height: 200px;
  color: #fff;
  font-size: 1rem;
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.notice-box h4 {
  font-size: 2.4rem;
  margin-bottom: 10px;
}

.notice-box ul {
  list-style-type: disc;
  padding-left: 20px;
}

.notice-box ul li a{
  margin-bottom: 5px;
  color: #fff;
  font-size: 1.8rem;
  line-height: 3.6rem;
}


/* solution*/
#solution {
  padding-top: 900px;
  padding-bottom: 100px;
  z-index: 0;
}

#solution h3{
  text-align: center;
  padding: 100px;
  font-size: 4rem;
}

.mv{
  height: 624px;
}

.solution-box{
  display: flex;
  align-items: center;
}

.solution-box .solution-txt{
  padding: 0 50px;
}

.solution-box .solution-txt h4{
  padding-bottom:10px;
}

/*major subjects*/
#major_subjects{
  background-color: #f9f9f9;
  padding-bottom: 100px;
}

#major_subjects h3{
  text-align: center;
  padding: 100px;
  font-size: 4rem;
}

#major_subjects ul{
  display: flex;
  justify-content: space-between;
}


#major_subjects span{
  display: block;
  margin-top: 10px;
  font-size: 1.8rem;
  text-align: center;
}


/*doctor*/
.doctor-box{
  display: flex;
  gap: 80px;

}
#doctor{
  padding-bottom: 150px;
}
#doctor h3{
  text-align: center;
  padding: 100px;
  font-size: 4rem;
}

.doctor-txt .start-txt{
  padding-bottom: 20px;
}

.doctor-txt .start-txt::after{
  border-bottom: 1px solid #003366;
}
.doctor-txt h4{
  font-size: 2.8rem;
  padding: 0 46px;
}

.doctor-txt p{
  padding: 46px;
}

/*clinic*/
#clinic{
  background-color: #d7d7d7;
  padding-bottom: 285px ;
  z-index: -9;
}

#clinic h3{
  text-align: center;
  padding: 100px;
  font-size: 4rem;
}

#clinic .clinic-box{
  display: flex;
  width: 1174px;
  height: 590px;
  background-color: #FFF;
  border-radius: 50px;
  margin: 0 auto;
}

#clinic .clinic-txt{
  text-align: left;
padding: 50px;
}

#clinic .clinic-txt h4{
  font-size: 2.4rem;
  padding-bottom: 36px;
}

#clinic .clinic-txt p{
  font-size: 2.4rem;
  line-height: 3.6rem;
  padding-bottom: 100px;
}

#clinic button {
  padding: 8px 16px;
  background-color: #fff;
  color: #333;
  border: 2px solid #002b5c;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.3s;
}

#clinic button a {
  text-decoration: none;
}

#clinic button:hover {
  color: #fff;
  background-color: #003366;
}

/*reservation*/
#reservation
{
  padding: 100px 0;
  background-color: #FFF;
}
#reservation .reservation-txt{
  padding: 64px 0;
  display: block;
  align-items: center;
  background-color: #003366;
  border-radius: 100px;
  color: #fff;
  font-size: 3.2rem;
  text-align: center;
}

/* mall */
#mall-promotion {
  position: relative;
  text-align: center;
}

#mall-promotion .promotion-txt{
  position: absolute;
  top: 100px;
  padding: 0 0 0 300px;
}
#mall-promotion .promotion-txt h1 {
  font-size: 4rem;
  line-height: 1.5;
  padding-bottom:20px ;
}

#mall-promotion p {
  font-size: 2.4rem;
  line-height: 1.5;
  color: #555;
  padding-bottom:20px ;
}

#mall-promotion button {
  padding: 8px 16px;
  background-color: #fff;
  color: #333;
  border: 2px solid #002b5c;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.3s;
}

#mall-promotion button:hover {
  background-color: #2e477a;
}

/*#products*/
#products{
  padding: 150px;
}

#products .inner {
  display: flex;
  gap: 20px;
  align-items: flex-start;
  cursor: pointer;
}

.products-promotion-box {
  width: 540px;
  height: 588px;
  background-color: #7c94af;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.products-promotion-box h2 {
  padding: 36px;
  line-height: 4rem;
  z-index: 2;
  position: relative;
}

.products-promotion-box-img {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}


.product-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 540px; 
}

.product {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  background-color: #f8f8f8;
}

.products-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
  border-radius: 15px;
  z-index: 1;
}

.product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.product-txt {
  position: absolute;
  bottom: 10px;
  left: 20px;
  color: #fff;
  z-index: 2;
}

/* testimonials Section */
#testimonials {
  background-color: #f9f9f9;
  padding: 150px;
  text-align: center;
}

#testimonials .testimonials-txt {
  padding-bottom: 80px;
}

#testimonials h2 {
  font-size: 4rem; 
  padding-bottom: 20px;
}

#testimonials p {
  font-size: 1.5rem;
  color: #666;
}

.testimonial-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.testimonial-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 40px; 
  justify-content: center;
}

.testimonial {
  position: relative;
  width: 415px;
  height: 260px; 
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 40px;
}

.testimonial img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  border: 3px solid #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial p {
  margin-top: 50px;
  font-size: 1.4rem;
  color: #555;
  line-height: 1.5; 
  padding-bottom: 10px; 
  border-bottom: 1px solid #ddd;
  margin:30px 30px; 
}

.testimonial span {
  display: block;
  margin-top: 10px;
  font-size: 1.2rem;
  color: #777;
}

/*contact*/
#contact{
  padding: 150px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  gap: 60px;
}

.reservation {
  display: flex;
  max-width: 900px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.qr-section {
  padding: 20px;
  text-align: center;
  width: 300px;
}

.qr-section img {
  height:580px ;
}

.qr-section p {
  margin-top: 10px;
  font-size: 14px;
}

.form-section {
  padding: 20px;
  flex-grow: 1;
}

.form-section h2 {
  font-size: 24px;
  color: #333;
}

.subtitle {
  font-size: 1.4rem;
  color: #666;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-header .icon{
  width: 34px;
  height: 34px;
  margin-right: 8px;
}

.form-header span{
  font-size: 3rem;
}

form input, form textarea {
  background-color:#f1f1f1 ;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
}

form textarea {
  resize: none;
  height: 80px;
}

form label {
  font-size: 12px;
  color: #666;
  display: flex;
  align-items: center;
}

form button {
  padding: 10px;
  background-color: #003366;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.6rem;
  margin-top: 10px;
  
}

form button:hover {
  background-color: #002244;
}
 

.availability {
  border-top: 1px solid #ddd;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.availability h3 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #333;
}

.character-section {
  display: flex;
  align-items: flex-end;
  margin-top: 290px;
}

.availability p{
  line-height: 1.8;
}

#information {
  padding: 150px;
}

#information .inner {
  display: flex;
  justify-content: center;
}

.info-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

.icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.info-container span{
  font-size: 3rem;
}

.info-txt span {
  font-size: 2rem;
}

.guide li {
  margin-bottom: 1.5rem;
}

.guide p, .way p {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom:100px;
}

.way img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.way h4 {
  font-size: 1.8rem;
  margin-top: 20px;
  color: #333;
}



/* Footer Section */
footer {
  color: #fff;
  padding-top: 200px;
  position: relative;
}

.footer-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
}

.inner {
  justify-content: space-between;
  margin: 0 auto;
  text-align: left;
}

.footer-info p,
.footer-contact p {
  margin: 1rem 0;
  font-size: 1.6rem;
}

.footer-links {
  gap: 2rem;
  margin-top: 1rem;
  flex: 2;
}

.link-column h4 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.link-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link-column ul li {
  margin: 0.5rem 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.footer-section {
  margin: 20px;
  flex: 1 1 200px;
}
.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.footer-section p,
.footer-section a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  line-height: 1.6;
}
.footer-section a:hover {
  text-decoration: underline;
}
.footer-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}
.footer-icons i {
  font-size: 20px;
  color: #fff;
}
.footer-bottom {
  font-size: 14px;
  margin-top: 20px;
}